// Browser reset
@import "reset";

// Settings
@import "variables";
@import "mixins";

// Twinkle Animation
@include twinkle();

#starfield {
	width: 100%; height: $starfieldheight;
	background: $black;
	position: absolute;
}

.white-dwarf {
	width: 0.12em; height: 0.12em;
	box-shadow: 0px 0px 10px 2px #fff;
	background: #fff;
	opacity: 0.8 !important;
	@include star();
}

.yellow-dwarf {
	width: 0.15em; height: 0.15em;
	box-shadow: 0px 0px 10px 1px #fff;
	background: #fff;
	opacity: 0.8 !important;
	@include star();
}

.blue-dwarf {
	width: 0.1em; height: 0.1em;
	box-shadow: 0px 0px 15px 2px #fff;
	background: $blue;	
	@include star();
}

.red-giant {
	width: 0.05em; height: 0.05em;
	box-shadow: 0px 0px 10px 1px #fff;
	background: #fff;
 	@include star();
}
	